<div class="filter__wrapper">
  <div class="filter__group" id="filter">
<!-- Категории -->
    <!-- Категории -->
    {% set uniqueCategory = [] %}
    {% for country, data in collections.gallery %}
      {% for image in data.images %}
        {% if image.category %}
          {% for tag in image.category %}
            {% if uniqueCategory.indexOf(tag) == -1 %}
              {% set _ = uniqueCategory.push(tag) %}
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% set uniqueCategory = uniqueCategory | sortAlpha %}
    {% for tag in uniqueCategory %}
      <button class="filter__button" data-filter-type="category" data-filter-value="{{ tag }}">{{ tag }}</button>
    {% endfor %}

    <!-- Страна -->
    {% set uniqueCountries = [] %}
    {% for country, years in collections.gallery %}
      {% if uniqueCountries.indexOf(country) == -1 %}
        {% set _ = uniqueCountries.push(country) %}
      {% endif %}
    {% endfor %}
    {% set uniqueCountries = uniqueCountries | sortAlpha %}
    {% for country in uniqueCountries %}
      <button class="filter__button {% if country == activeCountry %}active{% endif %}" data-filter-type="country" data-filter-value="{{ country }}">{{ collections.gallery[country].title }}</button>
    {% endfor %}

    <!-- Год -->
    {% set uniqueYears = [] %}
    {% for country, data in collections.gallery %}
      {% for image in data.images %}
        {% if image.year and uniqueYears.indexOf(image.year) == -1 %}
          {% set _ = uniqueYears.push(image.year) %}
        {% endif %}
      {% endfor %}
    {% endfor %}
    {% set uniqueYears = uniqueYears | sortNumeric %}
    {% for year in uniqueYears %}
        <button class="filter__button {% if year == activeYear %}active{% endif %}" data-filter-type="year" data-filter-value="{{ year }}">{{ year }}</button>
    {% endfor %}


    <button id="filter__more">Ещё</button>
    <button id="filter__reset" style="display: none;">Сбросить</button>
  </div>
</div>

<!-- Если ничего не найдено -->
<div id="no-results-message" style="display: none;"> (▰˘◡˘▰) Таких марок пока нет, но вы можете дополнить коллекцию на <a href="https://github.com/vlasmn/stamps">гитхабе</a></div>

<!-- Галерея -->
<div class="gallery">
  <div class="grid_sizer"></div>
{% for item in collections.processedGallery %}
  <div class="gallery__item emerge"
    data-country="{{ item.country }}"
    {% if item.year %}
      data-year="{{ item.year }}"
    {% endif %}
    {% if item.category %}
      data-category="{{ item.category | join(', ') }}"
    {% endif %}
    data-effect="relax" data-origin="bottom" data-hold="0" data-expose="true"
  >
  <a data-fancybox="gallery" href="{{ item.url }}">
    {{ item.html | safe }}
  </a>
  </div>
{% endfor %}
</div>
