<div class="gallery">
  <div class="grid_sizer"></div>
{% for item in collections.processedGallery %}
  <div class="gallery__item emerge"
    data-country="{{ item.country }}"
    {% if item.year %}
      data-year="{{ item.year }}"
    {% endif %}
    {% if item.category %}
      data-category="{{ item.category | join(', ') }}"
    {% endif %}
    {% if item.isNew %}
      data-is-new="true"
    {% else %}
      data-is-new="false"
    {% endif %}
    data-effect="relax" data-origin="bottom" data-hold="0" data-expose="true"
  >
    {{ item.html | safe }}

  </div>
{% endfor %}
</div>
