<div id="title">
  <a href="/">
    <div id="counter"></div>
  </a>
</div>

<script>
function declOfNum(number, titles) {
    const cases = [2, 0, 1, 1, 1, 2];
    return titles[(number % 100 > 4 && number % 100 < 20) ? 2 : cases[(number % 10 < 5) ? number % 10 : 5]];
}

let number = {{ collections.processedGallery | length }};
let title = declOfNum(number, ['марка', 'марки', 'марок']);
document.getElementById("counter").innerText = `${number} ${title}`;
</script>
