<!DOCTYPE html>
<html lang="ru" prefix="og: http://ogp.me/ns#">
<head>
  {% set itemCount = collections.processedGallery | length %}
  <title>{{ itemCount }} {{ itemCount | declOfNum }}</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{{ itemCount }} {{ itemCount | declOfNum }}">
  <meta property="og:description" content="{{ metadata.description }}">
  <meta property="og:image" content="{{ metadata.url + metadata.image }}">
  <meta property="og:url" content="{{ metadata.url }}">

  <link rel="stylesheet" href="css/main.css">

  <script src="js/emerge.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js"></script>
  <script src="https://unpkg.com/isotope-layout@3.0.6/dist/isotope.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="js/main.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async=""></script>
</head>
<body>
  <header>
    {% include "header.njk" %}
  </header>

  <main>
    {% block content %}{% endblock %}
  </main>

  <footer>
    {% include "footer.njk" %}
  </footer>
</body>
</html>
