@font-face {
  font-family: Martian Grotesk;
  font-stretch: 75% 200%;
  font-style: normal;
  font-weight: 100 1000;
  src: url("/fonts/MartianGrotesk-VFVF.woff2") format("woff2");
}

:root {
  --font: "Martian Grotesk", sans-serif;

  --line-height: 1.5;
  --font-weight: 350;
  --font-size: 16px;

  --accent-RGB: 180, 150, 110;
  --hover-RGB: 214, 254, 81;
  --background-RGB: 0, 0, 0;
  --text-RGB: 255, 255, 255;
}

html, body {
  color: rgba(var(--text-RGB), 1);
  background-color: rgba(var(--background-RGB), 1);
  font-family: var(--font);
  line-height: var(--line-height);
  font-weight: var(--font-weight);
  font-size: var(--font-size);
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column; 
  min-height: 100vh;
}

main {
  flex: 1 0 auto; 
}

a {
  color: rgba(var(--accent-RGB), 1);
  text-decoration: none;
  border-bottom: 1px solid rgba(var(--accent-RGB), .3);
}

a:hover, a.hover  {
  color: rgba(var(--hover-RGB), 1);
  border-bottom: 1px solid rgba(var(--hover-RGB), .3);
}

a img {
  border-bottom: none;
}

main, header, footer {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
}

header {
  padding: 20px 20px 10px 20px;
}

footer {
  font-size: 14px;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  row-gap: 4px;
  flex-shrink: 0;
  padding: 20px;
}

footer p {
  margin: 0;
}

#title {
  display: block;
  width: 100%;
  text-transform: uppercase;
  font-weight: 1000;
  font-stretch: 200%;
  color: rgba(var(--accent-RGB), 1);
}

  #title a, #title a:hover {
    border-bottom: none;
  }

  #title a:hover {
    color: rgba(var(--hover-RGB), 1);
  }

.grid_sizer {
  visibility: hidden;
  height: 0;
}

.gallery {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery.is_ready {
  opacity: 1;
}

.gallery__item {
  box-sizing: border-box;
  padding: 20px;

}

.gallery__item img {
  width: 100%;
  height: auto;
  display: block;
}

.gallery__item.hidden {
  display: none;
}

  @media (max-width: 1024px) {
    #filter {
      width: 100% !important;
    }
  }

  @media (max-width: 768px) {
    .gallery {
      padding: 0 10px 0 10px;
    }
    .gallery__item {
      padding: 10px;
    }
  }


.my-fancybox .fancybox-button {
  background-color: transparent;
  border-bottom: none;
}

.my-fancybox .fancybox-button:hover {
  background-color: transparent;
  border-bottom: none;
}

#filter {
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  row-gap: 4px;
  margin-bottom: 6px;
  width: 80%;
}

  .filter__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    margin: 0 20px 32px 16px
  }

  .filter__button, #filter__reset, #filter__more {
    padding: 4px 8px;
    background: none;
    color: rgba(var(--text-RGB), 1);
    border: none;
    cursor: pointer;
    border-radius: 20px;
    font-family: var(--font);
    font-size: 14px;
    font-weight: 300;
  }

  #filter__reset, #filter__more {
    color: rgba(var(--accent-RGB), 1);
  }

  .filter__button:hover, #filter__reset:hover, #filter__more:hover {
    background: rgba(var(--text-RGB), .2);
    color: rgba(var(--text-RGB), 1);
  }

  .filter__button.active {
    background-color: rgba(var(--hover-RGB), 1);
    color: rgba(var(--background-RGB), 1);
  }

  .filter__group {
    display: flex;
    align-items: center;
  }

  .filter__button {
    display: none;
  }

  .filter__button:nth-child(-n+16) {
    display: inline-block;
  }

  .blur-up {
    filter: blur(5px);
    transition: filter 0.3s;
}

.blur-up.lazyloaded {
    filter: blur(0);
}
